<select id="cross-breed-dropdown">
    <option selected disabled>Select Cross Breed</option>
    <optgroup label="Doodle Mixes (Poodle Hybrids)">
        <option>Aussiedoodle (Australian Shepherd + Poodle)</option>
        <option>Bernedoodle (Bernese Mountain Dog + Poodle)</option>
        <option>Cavoodle (Cavalier King Charles Spaniel + Poodle)</option>
        <option>Cockapoo (Cocker Spaniel + Poodle)</option>
        <option>Goldendoodle (Golden Retriever + Poodle)</option>
        <option>Labradoodle (Labrador Retriever + Poodle)</option>
        <option>Maltipoo (Maltese + Poodle)</option>
        <option>Peekapoo (Pekingese + Poodle)</option>
        <option>Pomapoo (Pomeranian + Poodle)</option>
        <option>Schnoodle (Schnauzer + Poodle)</option>
        <option>Sheepadoodle (Old English Sheepdog + Poodle)</option>
        <option>Whoodle (Wheaten Terrier + Poodle)</option>
        <option>Yorkipoo (Yorkshire Terrier + Poodle)</option>
    </optgroup>
    <optgroup label="Bulldog Mixes">
        <option>Bullmatian (Bulldog + Dalmatian)</option>
        <option>Bullboxer (Boxer + Bulldog)</option>
        <option>Bullador (Labrador Retriever + Bulldog)</option>
        <option>Bull Terrier (Bulldog + Terrier mix)</option>
        <option>English Bullweiler (Bulldog + Rottweiler)</option>
        <option>Miniature Bulldog (Pug + Bulldog)</option>
    </optgroup>
    <optgroup label="Retriever Mixes">
        <option>Borador (Border Collie + Labrador Retriever)</option>
        <option>Boxador (Boxer + Labrador Retriever)</option>
        <option>Corgidor (Corgi + Labrador Retriever)</option>
        <option>Dalmador (Dalmatian + Labrador Retriever)</option>
        <option>Goldador (Golden Retriever + Labrador Retriever)</option>
        <option>Labmaraner (Labrador Retriever + Weimaraner)</option>
        <option>Labrakita (Labrador Retriever + Akita)</option>
        <option>Labradane (Labrador Retriever + Great Dane)</option>
        <option>Mastador (Mastiff + Labrador Retriever)</option>
    </optgroup>
    <optgroup label="Husky & Spitz Mixes">
        <option>Alusky (Alaskan Malamute + Husky)</option>
        <option>Gerberian Shepsky (German Shepherd + Siberian Husky)</option>
        <option>Huskador (Husky + Labrador Retriever)</option>
        <option>Pomsky (Pomeranian + Husky)</option>
        <option>Rottsky (Rottweiler + Husky)</option>
    </optgroup>
    <optgroup label="Shepherd Mixes">
        <option>Aussiedor (Australian Shepherd + Labrador Retriever)</option>
        <option>Aussiekita (Australian Shepherd + Akita)</option>
        <option>Aussiepoo (Australian Shepherd + Poodle)</option>
        <option>German Sheprador (German Shepherd + Labrador Retriever)</option>
        <option>Shepadoodle (German Shepherd + Poodle)</option>
        <option>Shepkita (German Shepherd + Akita)</option>
        <option>Shollie (German Shepherd + Collie)</option>
    </optgroup>
    <optgroup label="Terrier Mixes">
        <option>Jackabee (Jack Russell Terrier + Beagle)</option>
        <option>Jackapoo (Jack Russell Terrier + Poodle)</option>
        <option>Pitsky (Pitbull + Husky)</option>
        <option>Rat-Cha (Rat Terrier + Chihuahua)</option>
        <option>Rat Terrier Mixes (many variations)</option>
        <option>Yorkiepoo (Yorkshire Terrier + Poodle)</option>
    </optgroup>
    <optgroup label="Corgi Mixes">
        <option>Corgidor (Corgi + Labrador Retriever)</option>
        <option>Corgipoo (Corgi + Poodle)</option>
        <option>Corgle (Corgi + Beagle)</option>
        <option>Horgi (Husky + Corgi)</option>
        <option>Pomcorg (Pomeranian + Corgi)</option>
    </optgroup>
    <optgroup label="Hound Mixes">
        <option>Beabull (Beagle + Bulldog)</option>
        <option>Beagleman (Beagle + Doberman)</option>
        <option>Beaglemation (Beagle + Dalmatian)</option>
        <option>Dorgi (Dachshund + Corgi)</option>
        <option>Puggle (Pug + Beagle)</option>
    </optgroup>
    <optgroup label="Mastiff & Giant Breed Mixes">
        <option>Bullmastiff Mixes (various combinations)</option>
        <option>Daniff (Great Dane + Mastiff)</option>
        <option>Mastador (Mastiff + Labrador Retriever)</option>
        <option>Saint Berdoodle (Saint Bernard + Poodle)</option>
        <option>Saint Weiler (Saint Bernard + Rottweiler)</option>
    </optgroup>
    <optgroup label="Other Popular Hybrids">
        <option>Chorkie (Chihuahua + Yorkshire Terrier)</option>
        <option>Chug (Chihuahua + Pug)</option>
        <option>Cockeranian (Cocker Spaniel + Pomeranian)</option>
        <option>Cockalier (Cocker Spaniel + Cavalier King Charles Spaniel)</option>
        <option>Doxiepoo (Dachshund + Poodle)</option>
        <option>Frug (French Bulldog + Pug)</option>
        <option>Havapoo (Havanese + Poodle)</option>
        <option>Morkie (Maltese + Yorkshire Terrier)</option>
        <option>Pomchi (Pomeranian + Chihuahua)</option>
        <option>Shichi (Shih Tzu + Chihuahua)</option>
        <option>Shorkie (Shih Tzu + Yorkshire Terrier)</option>
    </optgroup>
</select>   