<select id="pure-breed-dropdown">
    <option selected disabled>Select Pure Breed</option>
    <option>Affenpinscher</option>
    <option>Afghan Hound</option>
    <option>Airedale Terrier</option>
    <option>Akita</option>
    <option>Alaskan Malamute</option>
    <option>American Eskimo Dog</option>
    <option>American Bulldog</option>
    <option>American Foxhound</option>
    <option>American Staffordshire Terrier</option>
    <option>Anatolian Shepherd Dog</option>
    <option>Appenzeller Sennenhund</option>
    <option>Australian Cattle Dog</option>
    <option>Australian Shepherd</option>
    <option>Australian Terrier</option>
    <option>Basenji</option>
    <option>Basset Hound</option>
    <option>Beagle</option>
    <option>Bearded Collie</option>
    <option>Beauceron</option>
    <option>Bedlington Terrier</option>
    <option>Belgian Malinois</option>
    <option>Belgian Sheepdog</option>
    <option>Belgian Tervuren</option>
    <option>Bernese Mountain Dog</option>
    <option>Bichon Frise</option>
    <option>Black and Tan Coonhound</option>
    <option>Black Russian Terrier</option>
    <option>Bloodhound</option>
    <option>Border Collie</option>
    <option>Border Terrier</option>
    <option>Borzoi</option>
    <option>Boston Terrier</option>
    <option>Bouvier des Flandres</option>
    <option>Boxer</option>
    <option>Briard</option>
    <option>Brittany Spaniel</option>
    <option>Brussels Griffon</option>
    <option>Bull Terrier</option>
    <option>Bullmastiff</option>
    <option>Cairn Terrier</option>
    <option>Campeiro Bulldog</option>
    <option>Cane Corso</option>
    <option>Cavalier King Charles Spaniel</option>
    <option>Chesapeake Bay Retriever</option>
    <option>Chihuahua</option>
    <option>Chinese Crested</option>
    <option>Chow Chow</option>
    <option>Clumber Spaniel</option>
    <option>Cocker Spaniel (American)</option>
    <option>Cocker Spaniel (English)</option>
    <option>Collie (Rough and Smooth)</option>
    <option>Continental Bulldog</option>
    <option>Corgi (Pembroke)</option>
    <option>Corgi (Cardigan Welsh)</option>
    <option>Curly-Coated Retriever</option>
    <option>Czechoslovakian Vlcak</option>
    <option>Dachshund (Miniature)</option>
    <option>Dachshund (Standard)</option>
    <option>Dalmatian</option>
    <option>Dandie Dinmont Terrier</option>
    <option>Doberman Pinscher</option>
    <option>Dogo Argentino</option>
    <option>Dogue de Bordeaux</option>
    <option>English Bulldog</option>
    <option>English Foxhound</option>
    <option>English Mastiff</option>
    <option>English Setter</option>
    <option>English Springer Spaniel</option>
    <option>English Toy Spaniel (King Charles Spaniel)</option>
    <option>Entlebucher Mountain Dog</option>
    <option>Field Spaniel</option>
    <option>Finnish Lapphund</option>
    <option>Finnish Spitz</option>
    <option>Flat-Coated Retriever</option>
    <option>French Bulldog</option>
    <option>German Pinscher</option>
    <option>German Shepherd</option>
    <option>German Shorthaired Pointer</option>
    <option>German Wirehaired Pointer</option>
    <option>Glen of Imaal Terrier</option>
    <option>Golden Retriever</option>
    <option>Gordon Setter</option>
    <option>Great Dane</option>
    <option>Great Pyrenees</option>
    <option>Greater Swiss Mountain Dog</option>
    <option>Greyhound</option>
    <option>Harrier</option>
    <option>Havanese</option>
    <option>Ibizan Hound</option>
    <option>Icelandic Sheepdog</option>
    <option>Irish Setter</option>
    <option>Irish Terrier</option>
    <option>Irish Water Spaniel</option>
    <option>Irish Wolfhound</option>
    <option>Italian Greyhound</option>
    <option>Japanese Chin</option>
    <option>Japanese Spitz</option>
    <option>Kai Ken</option>
    <option>Keeshond</option>
    <option>Kelpie</option>
    <option>Kerry Blue Terrier</option>
    <option>King Charles Spaniel</option>
    <option>Komondor</option>
    <option>Kuvasz</option>
    <option>Kyi-Leo</option>
    <option>Labrador Retriever</option>
    <option>Lagotto Romagnolo</option>
    <option>Lakeland Terrier</option>
    <option>Leonberger</option>
    <option>Lhasa Apso</option>
    <option>Löwchen</option>
    <option>Maltese</option>
    <option>Manchester Terrier</option>
    <option>Maremma Sheepdog</option>
    <option>Miniature Bull Terrier</option>
    <option>Miniature Pinscher</option>
    <option>Miniature Schnauzer</option>
    <option>Neapolitan Mastiff</option>
    <option>Newfoundland</option>
    <option>Norfolk Terrier</option>
    <option>Norwegian Buhund</option>
    <option>Norwegian Elkhound</option>
    <option>Norwegian Lundehund</option>
    <option>Norwich Terrier</option>
    <option>Nova Scotia Duck Tolling Retriever</option>
    <option>Old English Sheepdog</option>
    <option>Otterhound</option>
    <option>Papillon</option>
    <option>Parson Russell Terrier</option>
    <option>Pekingese</option>
    <option>Pembroke Welsh Corgi</option>
    <option>Petit Basset Griffon Vendéen</option>
    <option>Pharaoh Hound</option>
    <option>Plott Hound</option>
    <option>Pointer</option>
    <option>Polish Lowland Sheepdog</option>
    <option>Pomeranian</option>
    <option>Poodle (Toy)</option>
    <option>Poodle (Miniature)</option>
    <option>Poodle (Standard)</option>
    <option>Portuguese Podengo</option>
    <option>Portuguese Water Dog</option>
    <option>Pug</option>
    <option>Puli</option>
    <option>Pumi</option>
    <option>Pyrenean Shepherd</option>
    <option>Rat Terrier</option>
    <option>Redbone Coonhound</option>
    <option>Rhodesian Ridgeback</option>
    <option>Rottweiler</option>
    <option>Saint Bernard</option>
    <option>Saluki</option>
    <option>Samoyed</option>
    <option>Schipperke</option>
    <option>Schnauzer (Miniature)</option>
    <option>Schnauzer (Standard)</option>
    <option>Schnauzer (Giant)</option>
    <option>Scottish Deerhound</option>
    <option>Scottish Terrier</option>
    <option>Sealyham Terrier</option>
    <option>Serrano Bulldog</option>
    <option>Shar-Pei</option>
    <option>Shetland Sheepdog</option>
    <option>Shiba Inu</option>
    <option>Shih Tzu</option>
    <option>Siberian Husky</option>
    <option>Silky Terrier</option>
    <option>Skye Terrier</option>
    <option>Sloughi</option>
    <option>Smooth Fox Terrier</option>
    <option>Soft Coated Wheaten Terrier</option>
    <option>Spanish Water Dog</option>
    <option>Spinone Italiano</option>
    <option>Staffordshire Bull Terrier</option>
    <option>Standard Schnauzer</option>
    <option>Sussex Spaniel</option>
    <option>Swedish Vallhund</option>
    <option>Tibetan Mastiff</option>
    <option>Tibetan Spaniel</option>
    <option>Tibetan Terrier</option>
    <option>Toy Fox Terrier</option>
    <option>Treeing Walker Coonhound</option>
    <option>Vizsla</option>
    <option>Weimaraner</option>
    <option>Welsh Springer Spaniel</option>
    <option>Welsh Terrier</option>
    <option>West Highland White Terrier</option>
    <option>Whippet</option>
    <option>Wire Fox Terrier</option>
    <option>Wirehaired Pointing Griffon</option>
    <option>Wirehaired Vizsla</option>
    <option>Xoloitzcuintli</option>
    <option>Yorkshire Terrier</option>
</select>