<section class="newsletter-section">
    <div class="newsletter-container">
      <h3>Say G’Day to <span class="h2">Exclusive Doggie Deals!</span></h3>
      <p>Subscribe for pawsome deals, early access to new collections, and perks that’ll make your pup the envy of the park!</p>
      
      {%- assign newsletter_form_id = 'newsletter-form-' | append: section.id -%}

      {%- form 'customer', id: newsletter_form_id, class: 'form' -%}
        {%- if form.posted_successfully? -%}
        {%- assign success_message = 'general.newsletter.subscribed_successfully' | t -%}
        {%- render 'banner', content: success_message, status: 'success' -%}
        {%- else -%}
        {%- if form.errors -%}
            {%- capture error_message -%}{{ form.errors.translated_fields['email'] }} {{ form.errors.messages['email'] }}{%- endcapture -%}
            {%- render 'banner', content: error_message, status: 'error' -%}
        {%- endif -%}

        <input type="hidden" name="contact[tags]" value="newsletter">

        {%- assign input_label = 'general.newsletter.email' | t -%}
        {%- render 'input', id: 'footerEmailInput' use_submit: true, name: 'contact[email]', label: input_label, type: 'email', required: true, autocomplete: 'email', enterkeyhint: 'send' -%}

        {%- endif -%}
      {%- endform -%}
    </div>
  </section>

<style>
    .newsletter-section {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f9f9f9;
    }

    .newsletter-container {
        text-align: center;
        max-width: 600px;
        width: 100%;
        padding: 20px;
        background: #f9f9f9;
    }

    h3 {
        font-size: 26px;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .form-control {
        margin-top: 10px;
    }

    .input-container {
        display: flex;
        align-items: center;
    }

    .input {
        flex-grow: 1;
        border: 1px solid #ccc;
        border-radius: 4px 0 0 4px;
        padding: 10px;
    }

    #input-template--23570945147176__newsletter_form_QKBh3n--contactemail-submitButton {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #EA2D24;
        border: 1px solid #EA2D24;
        background: transparent;
        border-radius: 50%;
        transition: background 0.2s;
    }

    #input-template--23570945147176__newsletter_form_QKBh3n--contactemail-submitButton.active {
        background: #EA2D24;
    }

    #input-template--23570945147176__newsletter_form_QKBh3n--contactemail-submitButton.active > .icon {
        color: #FFF;
    }
    @media screen and (min-width: 767px){
      .newsletter-container form {
          margin-left: 100px;
      }
    }
    @media screen and (max-width: 767px){
      h3 span.h2 {
        font-size: 26px;
      }
    }
</style>      

{% schema %}
{
    "name": "Newsletter Form",
    "settings": [],
    "presets": [
      {
        "name": "Newsletter Form",
        "category": "Custom"
      }
    ]
}
{% endschema %}