<div class="section-spacing">
  <div class="container" data-oke-widget=""></div>
</div>

{% schema %}
  {
    "name": "Okendo Reviews",
    "settings": [],
    "presets": [
      {
        "name": "Okendo reviews",
        "category": "Custom"
      }
    ]
  }
{% endschema %}